<h1>Workplaces#new</h1>
<p>Find me in app/views/workplaces/new.html.erb</p>
<%= form_with model: @workplace, local: true do |f| %>
  <%= f.text_field :name %>
  <%#= f.text_field :contents %>
  <%= f.submit %>
<% end %>