body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
}

.workplaces {
  h1 {
    color: red;
  }
}

.days {
}

.comments {
}

// Usersの中身のCSS

// 新規登録のCSS
.registrations {
  max-width: 700px;
  margin: 0 auto;
}

.registerContainer {
  text-align: center;
}

.registerNewTop {
  height: 105vw;
  background: image-url("shierMain.png");
  background-size: cover;
  position: relative;
}

.registerNewTitle {
  position: absolute;
  top: 8vw;
  right: 20vw;
  font-family: "ONE DAY";
  font-size: 10vw;
}

.registerNewSubtitle {
  position: absolute;
  top: 25vw;
  right: 3vw;
}

.registerForMailTitle,
.registerForGoogle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7vw auto;
  width: 70%;
  border: solid 1px #cecece;
  border-radius: 7px;
}

.ragisterForGoogleImg {
  margin: 0 7vw 0 0;
}

.ragisterForMailImg {
  margin: 0 4vw 0 0;
}

.registerForMailField {
  margin: 8vw auto;
}

input[type="email"] {
  width: 70%;
  height: 8vw;
  border: none;
  border: solid 1px #cecece;
}

input[type="text"] {
  width: 70%;
  height: 8vw;
  border: none;
  border: solid 1px #cecece;
}

input[type="password"] {
  width: 70%;
  height: 8vw;
  border: none;
  border: solid 1px #cecece;
}

.registerForMailActions {
  margin: 10vw auto 30vw auto;
}

input[type="submit"] {
  width: 25%;
  height: 10vw;
  background-color: #3bb2db;
  color: #ffff;
  border: none;
  font-size: 5vw;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
}
// 新規登録はここまで

// ログインのCSS
.sessions {
  max-width: 700px;
  margin: 0 auto;
  height: 100vh;
}

.loginContainer {
  text-align: center;
}

.loginTitle {
  font-family: "ONE DAY";
  font-size: 10vw;
  margin: 15vw auto;
}

.loginForMailField {
  margin: 10vw auto;
}

.loginDownImg {
  height: 50vh;
  background: image-url("shierMain.png");
  background-size: cover;
  margin: 10vw auto 0 auto;
}
